* {
  margin: 0;
}

.navbar {
  background-color: blue;
  height: 100px;
  color: white;
  font-size: 3rem;
}
.banner {
  background-color: red;
  height: calc(100vh - 100px);
}
.example {
  background-color: green;
  width: 10rem;
  height: 25rem;
  overflow: hidden;
  overflow: scroll;
}
