/* import should be at top before any other css */

/* @import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap"); */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500i,700|Trade+Winds&display=swap");

/* body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 50px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1 {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
} */

a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-align: right;
  text-align: center;
  text-align: left;
  line-height: 2;
}

h1 {
  text-decoration: line-through;
}
.main-heading {
  font-family: "Trade Winds", cursive;
}
.sub-heading {
  font-style: italic;
  text-transform: capitalize;
}
.one {
  font-weight: bold;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}
.two {
  font-weight: lighter;
  font-style: italic;
  font-style: oblique;
  font-style: normal;
  text-indent: 1rem;
}
.three {
  text-transform: uppercase;
}

/* system fonts apple: -apple-system or Windows: Segoe IO */

/* body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
} */
